.post-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}


.post-banner img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.post-banner-content {
  color: #ffffff;
  position: absolute;
  width: 100%;
}

.post-banner-content h1 {
  font-size: var(--txt-title-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 744px) {
  .post-banner img {
    aspect-ratio: 4/3;
  }
  .blog-banner-content h1 {
    font-size: var(--txt-title-md);
  }
}

@media screen and (min-width: 1353px) {
  .post-banner img {
    aspect-ratio: 16/9;
  }
  .blog-banner-content h1 {
    font-size: var(--txt-title-xl);
  }
}
